.App {
  min-height: 100vh;
  min-width: 100vw;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

p {
  color: black;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  min-width: 200px !important;
  margin: 20px;
}

.card__title {
  font-size: x-large;
  margin-bottom: 20px;
}

.number-input {
  margin-bottom: 20px !important;
}

#chart {
  margin: 20px;
}

.app-title {
  font-size: xx-large;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 0;
}